extends ../templates/page

include /section/section.pug

block vars
  - const title = "About"
  - const header = { title: title, type: "contact" }

block main
  +section(true)
    :marked
      ## Hosts

      This podcast is a fun and spare time project by two gin fans, enthusiasts, collectors, advocates, … you name it (some even say nerds).

      ### Belinda Bowman<br/>[@thepatronsaintofgin](https://instagram.com/thepatronsaintofgin)

      Belinda is your correspondent from the Southern hemisphere. Based on the Gold Coast in Queensland, Australia she has travelled around Australia and visited as many distillers as possible back in 2016. That made her the patron saint of gin quite literally as she learned so many things and got insights into the making and the stories of the makers which she wants to tell others as well. Where if not in a podcast would that be possible?

      ### Jan Persiel<br/>[@ginginginde](https://instagram.com/ginginginde)

      Jan is a designer by day and started trying different gins back in 2015 when he thought whisky was not approachable enough and gin felt like it might bring some interesting things with it in the next years. After moving just short of 280 bottles to his office for tastings, publishing two gin notebooks, running the website [gingingin.de](https://gingingin.de) which was in German initially but changed to English in 2018 for a better approachability by a global audience. So before he dives into video with [liquorlabs.tv](https://liquorlabs.tv) this podcast was a natural first step.
      

  +section(true, 'down')
    :marked
      ## Want to be on the show?

      We would love to talk to you if you are a gin something. A distiller? Great! A bartender with a gin focus or just love and passion for gin? Bring it on! A botanist? Tell us all about the great things one could distill! A spirits company telling us more about the industry? Or a public relations person with industry insights? Wow, we are stoked to learn more.

      Please do get in touch with us by email, phone or on the socials …

      Oh, not on the list? You are someone buying cheap alcohol, chucking in some weird seldomly used botanicals, whipping up a fluffy marketing story and gaining your audience with obnoxious social media tactics? Yeah, well, we are afraid that boat has sailed from our shores a long time ago. We would love to direct you to the the big-bogus-marketing-podcast-show-thingy.

  +section(true)
    :marked
      ## Who was on the show so far?

      For a list of all episodes please go to the podcast section. You might as well subscribe while you are there. If you just want to know who was on the show here is an alphabetical list:

      - nothing to see here so far :)

  +section(true, 'up')
    :marked
      ## Where can you find the podcast?

      We are on all major platforms like:
      **[iTunes](#)**, **[Spotify](#)**, **[Pocketcast](#)**

  +section(true)
    :marked
      ## Feedback

      ### We value your feedback

      The fact that you feel like giving us feedback is an honour. It means something to us if you feel like telling us what we could improve. It is something we cannot do just by ourselves. Getting feedback is a gift and the time you spend doing so is anything but lost.

      Please take one thing into consideration: We love making things better, tailoring things more to our audience in terms of making things more understandable, entertaining, heck just better. But we can only do that with constructive feedback. What does that mean?
      
      #### Types of feedback

      > You are hard to understand because there is a lot of reverb in the audio.
      
      – Awesome. We can try recording in a better room or get a better mic and filters. Thanks, really helping.

      > What was this ethanol boiling thing all about? Can you explain that again?
      
      – Wow, great feedback. We might have been too deep down the rabbit hole this time. Probably we won't write you a summary but maybe get another episode made with simpler explanations.

      > Your podcast is the worst! You are so ^@*#
      
      – We might recommend a [good therapist](https://lmgtfy.com/?q=anger+management+therapist).

      #### Reviews

      The same applies to reviews on iTunes or other platforms. Be considerate and send some love. We put a lot of work into this. So think twice whether you really mean what you are writing. If you do love our podcast, we are deeply in love with you as well :)