extends ../templates/page.pug

include /cta/cta.pug
include /episodelist/episodelist.pug
include /remark/remark.pug
include /section/block.pug
include /section/container.pug
include /section/section.pug

block vars
  - const title = "Design und Entwicklung"
  - const header = { title: "", type: "main", hero: true }
  - const episodes = mvb.articles.slice(0, 2)

block main
  +wrap()
    +remark()
      :marked
        <span>Welcome to the fabulous Gin.Show, hosted by **Belinda** and **Jan**.</span>
        <span>This podcast is a manifestation of our love for gin and the **science**, **history**, **stories**, and **craft** behind gin in general and the ones we look at in particular.</span>
        <span>Join us when we interview **distillers**, **bartenders**, and people from the **gin industry** to learn and get entertained.</span>

  +section(true)
    :marked
      The gin hype is real! The gin bubble will burst! What is the next thing beyond gin? A lot of statements and many opinions. But beside these there is a lot more to be discussed when it comes to gin and the many things related to its production, marketing, the use in drinks, and even the pure knowledge about it. And that is where this podcast wants to pick up the thread:

      We are Belinda Bowman and Jan Persiel. Sharing almost similar birthdays, sometimes the same opinion, often the same sense of humour, and for sure the passion for good products and excellent craftmanship. Having met on Instagram where both of us are sharing our findings and love for gin as [@thepatronsaintofgin](https://instagram.com/thepatronsaintofgin) and [@ginginginde](https://instagram.com/ginginginde) we decided that we should have our conversations about gin in public and leverage our connections to producers, distillers, and other gin lovers to make this an entertaining podcast about gin.

      With the harsh reality of living eigth to nine timezones apart and on opposite hemispheres as well, with Belinda on Australia's Gold Coast and Jan in Hamburg, Germany, we will do our best to overcome the asynchronous daytimes and make sure we bring interesting people from both hemispheres and various continents onto the show.

  +section(false, 'up')
    h2 Manifesto
    +container()
      +block()
        :marked
          ### We belive in quality

          In our podcast we would love to bring you insights into products of and people creating the highest quality.
          We will never promote poor quality or invite people onto the show with moral standards we do not stand behind.

      +block()
        :marked
          ### Passion beats promotion

          If there is one thing we have learned since we started our gin journeys back in 2015/16 it is the fact that there is a lot of rubbish out there. Stories trying to puff up a mediocre or bad gin. We want to talk with those who have passion on their mind, not a quick buck.

      +block()
        :marked
          ### Independence is Queen or King

          We run this podcast on our own budget. It is our hard earned cash we put into hosting and equipment, our spare time to schedule, record, edit, and publish this podcast. And that gives us the freedom to decide what we think is worth talking about and whom to talk to.

      +block()
        :marked
          ### Here for a good time, not a long time

          Why are we doing this podcast? Because we enjoy the discussions about gin, meeting amazing people, helping each other out and learning something about our favourite spirit. We highly appreciate constructive feedback, it is a gift and helps us to grow. We cannot tolerate trolls or haters.

  +section(true)
    h2 Get listening to the fabulous Gin.Show
    h3 your favourite gin podcast

    +episodeList(episodes)

    +cta("More episodes", "/podcast.html")

    :marked
      ## Events, somehow gin-related

      - [Junipalooza Melbourne: 26 – 27 October 2019](https://www.junipalooza.com)
