extends ../templates/page

include /cta/cta.pug
include /episodelist/episodelist.pug
include /player/player.pug
include /section/section.pug

block vars
  - const title = "The fabulous Gin.show Podcast: Let's talk juniper!"
  - const podcastFeedPath = "/podcast.xml"
  - const header = { title: "Podcast", type: "podcast" }

block meta
  meta(name="description" content="A show about gin, distilling and making gin, botanicals, and other knowledge about this spirit.")
  meta(name="keywords" content="gin,podcast,alcohol,cocktails,spirits,ethanol,distillery,distilling,juniper,cocktails,australia,germany,europe")
  link(href=podcastFeedPath rel="alternate" type="application/rss+xml")

block main
  - const seasons = mvb.groupedArticles.bySeason.reverse()
  +section(true)
    :marked
      ## The fabulous Gin.Show

      Since 2016 we, Belinda and Jan, have been navigating the gin oceans and despite the fact that an annoying number of time-zones and oceans lay between them this podcast unites our mutual interest in promoting quality gins and sharing knowledge about distilleries.
      
      And yes we will try to get you excited about the gins we talk about. Cheers and Ginsalabim!

    +cta("Subscribe / XML", podcastFeedPath)(target="uie-feed")

  +section(true)
    h2 Aktuelle Episode
    +player(seasons[0].articles[0])

  +section(true)
    each episodesBySeason in seasons
      - episodes = episodesBySeason.articles
      section
        +episodeList(episodes, h.shortIdToGerman(episodesBySeason.season), `${episodes.length} ${episodes.length == 1 ? "Episode" : "Episoden"}`)
