include /wrap/wrap.pug

mixin navigation()
  nav.navigation
    +wrap()
      ul.navigation__tree
        +__navItem('index', '/index.html', 'Start')
        +__navItem('podcast', '/podcast.html', 'Podcast')
        +__navItem('about', '/about.html', 'About')
        +__navItem('contact', '/contact.html','Contact')
        +__navItem('patterns', '/patterns/', 'Patterns')

mixin __navItem(id, url, title)
  - const classes = `navigation__item--${id}` + (h.isCurrentPage(id) ? ' navigation__item--current' : '')
  li.navigation__item(class=classes)
    a.navigation__link(href=url)= title
