include /section/block.pug
include /section/container.pug
include /wrap/wrap.pug

mixin footer()
  footer.footer
    +wrap()
      +container()
        +block().footer__block
          :marked
            [Jan Persiel](https://gingingin.de/)<br>
            GinGinGin.de<br>
            Eppendorfer Weg 264<br>
            20251 Hamburg<br>
            Germany

        +block().footer__block
          :marked
            [Belinda Bowman](https://thepatronsaintofgin.com.au/)<br>
            The patron saint of gin<br>
            Australia

      .footer__legal
        :marked
          This podcast is our collaboration to give you more insights into the world of gin. We bring you knowledge and insights, talk to distillers from around the globe and discuss things related to gin in a broader sense from bars to botanicals. Feel like giving us feedback or want to be on the show?
          [Get in touch](/contact.html), we love to hear from you!

      .footer__imprint
        a(href="/impressum.html") Imprint
        = " and "
        a(href="/datenschutz.html") Data protection declaration
